body {
    background: url('../img/dark_embroidery.png') repeat; 
}

.container {
background-color: white;
}

#content {
    padding: 5px 20px;
}

.articles {
    background-color: #EDEFF0;
    padding: 0px;
    margin-bottom: 20px;
}
.articles img {
    width: 100%;
    height: auto;
    float: left;
}

.space_clear {
       padding: 0px;
    margin: 0px;

}


#wrapper {
    height: 100%;
}

#wrapper h4 {
    padding-left: 30px; 
    color: black;
}

#section-1 {
    background-color: #4F5A6E;
    border-top: 3px solid red;
    padding: 0;
    height: 100%;
}

#header {
    background-color: black;
    color: white;
    padding: 5px 0;
}

#header h1 {
    margin: 0;
    padding: 10px 10px;
}

#header span {
    color: aqua;
}

#search {
    padding: 25px 0;
    padding-left: 20px;
    border-top: 3px solid red;
    border-bottom: 1px solid #424B5F;
}

#sign {
    padding: 25px 0;
    padding-left: 20px;
    border-bottom: 1px solid #424B5F;
}
#sign label {
    padding-right: 20px;
    color: white;
}
#search input {
   width: 80%;
   margin-right: 10px;
   color: black;
}

#menu {
    padding: 25px 0;
    border-bottom: 1px solid #424B5F;
}
#nav {
    color: red;
}

#nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    padding: 0 0 0 30px; 
    display: block;
    margin-bottom: -1px;
    color: #0088CC;
}

#nav ul a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}

#nav ul li:hover {
    background: #F5F5F5;
}

#nav ul a:hover {
     color: red;
}

#most_popular {
    color: white;
    padding: 25px 0;
    border-bottom: 1px solid #424B5F;

}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}