{% block left_menu %}
                <nav id="nav">
                    <h4>Рубрики</h4>
                <ul>
                    <li><a href="#">Web</a></li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#">Hardware</a></li>
                    <li><a href="#">IT</a></li>
                    <li><a href="#">Servers</a></li>
                    <li><a href="#">Photoshop</a></li>
                    <li><a href="#">Windows</a></li>
                    <li><a href="#">Linux</a></li>
                    <li><a href="#">Social</a></li>
                </ul>
                </nav>
                {% endblock left_menu %}