<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lesson 15 - Templates</title>
        <meta name="description" content="Django project">
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="../static/js/jquery-1.12.1.min.js"></script>
        <script src="../static/js/menu_dropdown.js"></script>
        <script src="../static/js/resize_img.js"></script>
        <style>
            @import "http://webfonts.ru/import/andada.css";
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div>
                    <h1 align="center">Записки <span>IT</span>'шника</h1>
                </div>
                <div>
                    <nav id="main-nav">
                                <ul >
                                <li><a href="http://127.0.0.1:8000/articles/">Главное</a></li>
                                <li><a href="http://127.0.0.1:8000/admin/">Обо мне</a></li>
                                <li><a href="#">Портфолио</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Рубрики</a>
                                    <ul>
                                        <li><a href="#">Web</a></li>
                                        <li><a href="#">Software</a></li>
                                        <li><a href="#">IT</a></li>
                                        <li><a href="#">Photoshop</a></li>
                                        <li><a href="#">Windows</a></li>
                                    </ul>
                                    </li>
                            </ul>
                    </nav>
                </div>
            </div>
            <div id="cat-logo"> <img src="../static/img/logo.png" /></div>

            <div id="sidebar">
                <div id="search">
                    <input type="text" size="22"/><a href="#"><img src="../static/img/Search.png" width="23px" heigth="23px" /></a>
                </div>
                <div id="sign-in">
                    <h4>Авторизация</h4>
                    <label for="login">login</label><input type="text" id="login"/>
                    <label for="password">password</label><input type="password" id="password"/>
                    <input type="button" value="Войти"/>

                </div>

                <nav id="nav">
                    <h4>Рубрики</h4>
                <ul>
                    <li><a href="#">Web</a></li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#">Hardware</a></li>
                    <li><a href="#">IT</a></li>
                    <li><a href="#">Servers</a></li>
                    <li><a href="#">Photoshop</a></li>
                    <li><a href="#">Windows</a></li>
                    <li><a href="#">Linux</a></li>
                    <li><a href="#">Social</a></li>
                </ul>
                </nav>
            </div>


            <div id="content">
            <div id="resize-img">
              <h3>Click to resize fuckin image:</h3>
                <input type="button" value="Увеличивать" class="zoomIn">
                <input type="button" value="Уменьшать" class="zoomOut">
                <img src="../static/img/python_logo.png" />
            </div>
                {% block articles %}
                    <h3>Projects in Brackets</h3>
                    <p> Once you're ready to get out of this sample project and edit your own code, you can use the dropdown
                        in the left sidebar to switch folders. Right now, the dropdown says "Getting Started" - that's the
                        folder containing the file you're looking at right now. Click on the dropdown and choose "Open Folder…"
                        to open your own folder.
                        You can also use the dropdown later to switch back to folders you've opened previously, including this
                        sample project.</p>

                    <h3>Projects in Brackets</h3>
                    <p> Once you're ready to get out of this sample project and edit your own code, you can use the dropdown
                        in the left sidebar to switch folders. Right now, the dropdown says "Getting Started" - that's the
                        folder containing the file you're looking at right now. Click on the dropdown and choose "Open Folder…"
                        to open your own folder.
                        You can also use the dropdown later to switch back to folders you've opened previously, including this
                        sample project.</p>

                    <h3>Projects in Brackets</h3>
                    <p> Once you're ready to get out of this sample project and edit your own code, you can use the dropdown
                        in the left sidebar to switch folders. Right now, the dropdown says "Getting Started" - that's the
                        folder containing the file you're looking at right now. Click on the dropdown and choose "Open Folder…"
                        to open your own folder.
                        You can also use the dropdown later to switch back to folders you've opened previously, including this
                        sample project.</p>
                </div>
            {% endblock articles %}
            <div class="clear"></div>
            <div id="footer">
                <p align="center">Made by Urmat Bekbo</p>
                <p>2016</p>
            </div>
        </div>
    </body>
</html>